<template>
  <div>
    <Navbar/>
    <div class="login text-center">
    <div class="box">
      <h3 class="title mb-4 p-3">Login</h3>
        <form @submit.prevent="login" class="p-2" >
          <div class="form-group">
            <input type="text" placeholder="Phone" v-model="form.phone" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="password" v-model="form.password" placeholder="Password" class="form-control" required>
          </div>
        <hr>
        <button class="btn btn-primary">Login</button>
        </form>
        <p class="p-2">Create account? <router-link to="/">Registration</router-link></p>
    </div>
  </div>
  </div>
</template>

<script>
import Navbar from '../components/Navbar'
// import axios from 'axios'
import { mapActions } from 'vuex'
export default {
  name: 'Login',
  components: {
    Navbar
  },
  data () {
    return {
      form: {
        phone: '',
        password: ''
      }
    }
  },
  methods: {
    ...mapActions({
      onLogin: 'users/signIn'
    }),
    login () {
      this.onLogin(this.form).then(result => {
        alert(result.msg)
        window.location = '/profile'
      }).catch((err) => {
        alert(err.message)
      })
    }
  }
}
</script>

<style scoped>
  .login {
    margin: 50px auto;
    width: 400px;
  }
  .box {
    background-color: rgb(221, 218, 218);
  }
</style>
