<template>
  <div class="login text-center">
    <div class="box">
      <h3 class="title mb-4 p-3">Percobaan OTP</h3>
        <form @submit.prevent="verifOTP" class="p-2" >
         <div class="container">
           <div class="row">
           <div class="col-md-3"><input type="password" class="form-control text-center" maxlength="1" placeholder="X" v-model="form.kd_1" required></div>
           <div class="col-md-3"><input type="password" class="form-control text-center" maxlength="1" placeholder="X" v-model="form.kd_2" required></div>
           <div class="col-md-3"><input type="password" class="form-control text-center" maxlength="1" placeholder="X" v-model="form.kd_3" required></div>
           <div class="col-md-3"><input type="password" class="form-control text-center" maxlength="1" placeholder="X" v-model="form.kd_4" required></div>
         </div>
         </div>
        <button class="btn btn-primary mt-3">Verifikasi</button>
        <hr>
        </form>
        <p class="p-2  font-weight-bold"><a @click.prevent="sendNewOTP" style="color: black; cursor: pointer;">Kirim Ulang Kode OTP</a></p>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Login',
  data () {
    return {
      form: {
        kd_1: '',
        kd_2: '',
        kd_3: '',
        kd_4: ''
      }
    }
  },
  methods: {
    ...mapActions({
      verifikasi: 'users/verifikasiOTP',
      newKdOTP: 'users/sendNewKdOTP'
    }),
    verifOTP () {
      const result = [this.form]
      const data = `${result[0].kd_1}${result[0].kd_2}${result[0].kd_3}${result[0].kd_4}`
      const otp = {
        kode_otp: data
      }
      this.verifikasi(otp)
        .then(results => {
          if (results.data.length > 0) {
            alert(results.msg)
            window.location = '/login'
            localStorage.removeItem('phone')
          } else {
            alert(results.msg)
          }
        })
        .catch((err) => {
          console.log(err.message)
        })
    },
    sendNewOTP () {
      const data = {
        phone: localStorage.getItem('phone')
      }
      if (data.phone !== null) {
        this.newKdOTP(data)
          .then(result => {
            alert(`Kode OTP baru anda ${result.data}`)
          })
          .catch((err) => {
            console.log(err.message)
          })
      } else {
        alert('Failed sending new OTP')
      }
    }
  }
}
</script>

<style scoped>
  .login {
    margin: 50px auto;
    width: 400px;
  }
  .box {
    background-color: rgb(221, 218, 218);
  }
</style>
