<template>
 <div>
   <Navbar/>
    <div class="profile">
    <div class="jumbotron jumbotron-fluid position-relative">
      <div class="container">
        <p class="lead">Background</p>
      </div>
    </div>
    <div class="biodata">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <div class="col-lg-12 mb-5">
                <div class="img-profile">
                    <div class="box-img position-absolute fileContainer">
                    <input type="file">
                      <img src="../../public/default.jpg" alt="user" class="rounded-circle" width="120px">
                    </div>
                </div>
              </div>
              <div class="col-lg-12 mt-5">
                <div class="detail-user">
                  <div class="box-detail">

                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row ml-2 mt-4">
                <div class="col-lg-6 mb-1">
                  <div class="card">
                    <div class="card-body d-flex align-items-end flex-column">
                      <p class="card-text mt-auto">Riwayat Karir</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 mb-1">
                  <div class="card">
                    <div class="card-body d-flex align-items-end flex-column">
                      <p class="card-text mt-auto">Riwayat Pendidikan</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body d-flex align-items-end flex-column">
                      <p class="card-text mt-auto">Riwayat Karir</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body d-flex align-items-end flex-column">
                      <p class="card-text mt-auto">Riwayat Pendidikan</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
 </div>
</template>

<script>
import Navbar from '../components/Navbar'
export default {
  components: {
    Navbar
  }
}
</script>

<style scoped>
  .box-img {
    top: -80px;
    left: 40px;
  }
  .detail-user {
    margin-left: -40px;
     padding: 30px 10px;
  }
  .box-detail {
    height: 250px;
    margin-top: 10px;
     background-color: rgb(221, 218, 218);
  }
  .card-body {
    background-color: rgb(221, 218, 218);
    height: 150px;
  }
  input {
    position: absolute;
    width: 130px;
    height: 140px;
    background: turquoise;
    border-radius: 100%;
    z-index: 99;
    top: -90px;
    left: 35px;
  }
.fileContainer {
    overflow: hidden;
    position: relative;
}
  .fileContainer [type=file] {
    cursor: inherit;
    display: block;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.fileContainer [type=file] {
    cursor: pointer;
}
</style>
