<template>
 <div>
    <Navbar/>
  <div class="register text-center">
    <div class="box">
      <h3 class="title mb-4 p-3">Registration</h3>
        <form @submit.prevent="regis" class="p-2" >
          <div class="form-group">
            <input type="text" placeholder="Phone" class="form-control" v-model="form.phone" required>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" v-model="form.password" required>
          </div>
          <div class="form-group">
            <input type="text" placeholder="Country" class="form-control" v-model="form.country" required>
          </div>
        <hr>
        <button class="btn btn-primary">Register</button>
        </form>
        <p class="p-2">Already have an account? <router-link to="/login">Login</router-link></p>
    </div>
  </div>
 </div>
</template>

<script>
import { mapActions } from 'vuex'
import Navbar from '../components/Navbar'
export default {
  name: 'Registrasi',
  components: {
    Navbar
  },
  data () {
    return {
      form: {
        phone: '',
        password: '',
        country: ''
      }
    }
  },
  methods: {
    ...mapActions({
      register: 'users/register'
    }),
    regis () {
      this.register(this.form).then(result => {
        if (result.status === 200) {
          alert('Success registration, Kode OTP anda ' + result.kd_otp)
          localStorage.setItem('phone', result.phone)
          window.location = '/otp'
        } else {
          alert('Registrasi failed!')
        }
      })
        .catch((err) => {
          alert(err.message)
        })
    }
  }
}
</script>

<style scoped>
  .register {
    margin: 50px auto;
    width: 400px;
  }
  .box {
    background-color: rgb(221, 218, 218);
  }
</style>
