<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <router-link to="/profile" class="nav-item nav-link">Profile</router-link>
      <router-link to="/" class="nav-item nav-link">Registrasi</router-link>
      <div v-if="local">
        <a class="nav-item nav-link" @click.prevent="logout">Logout</a>
      </div>
      <div v-else>
        <router-link to="/login" class="nav-item nav-link">Login</router-link>
      </div>
    </div>
  </div>
</nav>
</template>

<script>
export default {
  data () {
    return {
      local: localStorage.getItem('id')
    }
  },
  methods: {
    logout () {
      localStorage.removeItem('id')
      window.location = '/'
    }
  }
}
</script>

<style scoped>
  .nav-item {
    cursor: pointer;
  }
</style>
